# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Environment Variables
.env

# Optional cache directory
.cache
.eslintcache

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional bower directory
bower_components

# Optional REPL history
.node_repl_history

# Parcel cache
.parcel-cache

# Next.js build output
.next 